app-toolbar {
  
  background-color: #2C3E50;
  color: white;
  
  #logo {
    margin-top: 16px;
    margin-left: 30px;
  }

  [main-title] {
    margin-left: 15px;
  }

  nav {
    margin-right: 30px;
    font-size: 14px;
    
    :not(:first-child){
      margin-left: 25px;
    }

  }

} 
// End app-toolbar

paper-icon-button {
  display: none;
}


@media (min-width: 1px) and (max-width: 650px){
  
  app-toolbar{

    nav{
      display: none;
    }

    paper-icon-button {
      display: block;
      --paper-icon-button-ink-color: white;
    }

    .dropdown-content {
      margin-top: 10px;
      margin-right: 10px;
      background-color: white;
      line-height: 20px;
      border-radius: 3px;
      box-shadow: 0px 2px 6px #ccc;
    }

    ul {
      margin: 0;
      padding: 0;
      font-size: 14px;

      li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;

        :not(:last-of-type) {
          border-bottom: 1px solid #eee;
        }

        a {
          display: block;
          position: relative;
          padding: 1em;
          text-decoration: none;
          color: #2C3E50;
        }

        a:hover {
          text-shadow: 0px 2px 6px #ccc;
        }

      }
      // End li

    }
    // End ul

  }
  // End app-toolbar

} 
// End @media 650px